<div class="card" style="width: 18rem;">

{{!-- it would be nice to an image for each --}}
{{!-- <img src="..." class="card-img-top" alt="..."> --}}

  <div class="card-body">
    <h5 class="card-title">{{plantname}}</h5>

    {{!-- goals --}}
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}

    <a href="/plant/{{id}}" class="btn btn-primary">See Details</a>
  </div>
</div>