<div class="card">
  <div class="card-header new-post">
    Add new plant to database
  </div>
  <form method="POST" class="card-body">
    <div class="form-group mb-3">
      <label class="form-label fw-bold" for="name">Plant name</label>
      <input type="text" name="name" class="col-sm-12 form-input" id="plantname" />
    </div>
    <div class="form-group mb-3">
      <label class="form-label fw-bold" for="planturl">URL to plant picture</label>
      <input type="text" name="planturl" class="col-sm-12 form-input" id="planturl" />
    </div>
    <div class="form-group mb-3">
      <label class="form-label fw-bold" for="zones">Zones: (comma separated list if multiple zones)</label>
      <input type="text" name="zones" class="col-sm-12 form-input" id="zones" />
    </div>
    <div class="form-group mb-3">
      <label class="form-label fw-bold" for="content">Space needed to grow</label>
      <textarea type="text" name="space" class="col-sm-12 form-input" id="space"></textarea>
    </div>
    <div class="form-group mb-3">
      <label class="form-label fw-bold" for="title">sunshine</label>
      <select name="sunshine" class="col-sm-12 form-input" id="sunshine">
        <option value="Full Sun">Full Sun</option>
        <option value="Full Sun to Partial Shade">Full Sun to Partial Shade</option>
        <option value="Partial Sun">Partial Sun</option>
        <option value="Shade">Shade</option>
        <option value="Full Shade">Full Shade</option>
      </select>
    </div>
    <div class="form-group newpost-btn m-3">
      <button type="submit" class="col-sm-12 btn btn-dark" id="create-plant">Create</button>
    </div>
  </form>
</div>
<script src="/js/add-plant.js"></script>