{{!-- header with weather results and background garden image --}}
<header id="weather-wrap">
    <div class="wrapper weather-wrapper">
        <i class="iconify" data-icon="bx:bx-left-arrow-alt">Weather Report</i>
        <section class="input-part">
            <p class="info-txt">Please enter a valid city name</p>
            <input type="text" placeholder="Enter city name" spellcheck="false" required>
            <div class="separator"></div>
            <button>Get Device Location</button>
        </section>
        <section class="weather-part">
            <img src="./assets/images/png/001-sun.png" alt="Weather Icon">
            <div class="temp">
                <span id="temperature" class="numb">26</span>
                <span class="deg">ยบ</span>F
            </div>
            <div class="weather">Broken Clouds</div>
            <div class="location">
                <i class="iconify" data-icon="bx:bx-map"></i>
                <span id="weather-location">Tacoma</span>
            </div>
            <div class="bottom-details">
                <div class="column feels">
                    <i class="iconify" data-icon="bx:bxs-thermometer"></i>
                    <div class="details">
                        <div class="temp">
                            <span id="feels-like" class="numb">24</span>
                            <span class="deg">ยบ</span>F
                        </div>
                        <p>Feels like</p>
                    </div>
                </div>
                <div class="column humidity">
                    <i class="iconify" data-icon="bx:bxs-droplet-half"></i>
                    <div class="details">
                        <span id="humidity" class="numb">69</span>%
                        <p>Humidity</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>

<!-- Welcome Modal -->
<section class="modal" title="Welcome to Sprout Spy">
    <h2>We are so excited to have you here to learn about gardening!</h2>

    <p>This place is intended to become the internet home for all gardeners out there. At present you can search community gardens near the zip code you enter
        as well as get your growing zone based on the zip code. We also link out to the gardenate site to figure out what you can grow now. In the near future
        we will be implementing more functionality to the site to make it shine!
    </p>
    <p>Are you ready to become a Sprout Spy?</p>
</section>

<!--The div element for the map -->
<form>
    <label for="zip" id="text1"><span class="columnBreak">Local</span><span class="columnBreak">Garden</span><span
            class="columnBreak">Map</span></label><br>
    <input id="zip" name="zip" type="text" pattern="[0-9]*">
    <input type="submit" value="Submit" id="button1">
</form>
<section id="localgardenmap"></section>

<!-- zipcode error modal -->
<section class="zipModal" title="Error">
    <p>Your zipcode should be 5 digits!</p>
</section>

{{!-- Zone results --}}
<section class="results">
    <h3 class="zoneResults"></h3>
    {{!-- let's change this zoneLink to link to results layout instead of external source --}}
    <a id="zoneLink"></a>
</section>