{{!-- this layout is meant for individual plants (if the client clicks on a plant card from the results page) --}}

<!-- Header/instructions placeholder -->
<section id="instructions" class="jumbotron">
    <section id="jumboContainer" class="container">
        <h1 class="display-4"></h1>
        <p class="Plantinstructions"></p>
    </section>
</section>