* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-size: 16px;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

ol, ul {
	list-style: none;
}

input, select, option, optgroup, textarea, button, pre, code {
	font-size: 100%;
	font-family: inherit;
}
