* {
	font-family: Calibri;
	box-sizing: border-box;
}

#logo {
	position: fixed;
	top: 0;
	left: 0;
}

header {
	padding: 60px;
	width: 100vw;
	text-align: center;
	background-image: url('../images/projectPhoto.jpg');
	background-size: 100vw 600px;
}

#email-login {
	margin-left: 49px;
}

#password-login {
	margin-left: 9px;
}

#email-signup {
	margin-left: 49px;
}

#password-signup {
	margin-left: 9px;
}
.headerT {
	font-family: cursive;
	font-size: 18px;
	margin-top: 6px;
	margin-bottom: 15px;
}

h1 img {
	flex-direction: row;
}

.classNav img {
	height: 25px;
	width: 35px;
	margin: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
}

li {
	list-style: none;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

a:link {
	color: black;
	text-decoration: none;
	background-color: transparent;
}

a:visited {
	color: green;
	background-color: transparent;
}

a:hover {
	cursor: grab;
}

#gardenImage {
	margin-top: 23px;
}

body {
	background-image: linear-gradient(#ffc4e1,
			#ccb7e5,
			#d4f0f7 100%);
	font-family: 'Crimson Pro', serif;
	font-size: 18px;
	align-items: center;
	justify-content: center;

}

header .wrapper {
	width: 400px;
	border-radius: 7px;
	background-color: #b9e6de;
	opacity: 0.8;
}

.weather-wrapper i {
	color: dodgerblue;
	font-size: 25px;
	font-weight: 600;
	padding: 10px 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #bfbfbf;
}

.wrapper header i {
	cursor: pointer;
	font-size: 30px;
	margin-right: 8px;
}

.wrapper.active header i {
	margin-left: 5px;
	font-size: 20px;
}

#weather-wrap .wrapper .input-part {
	display: none;
	margin: 18px 24px 28px;
	font-size: 12px;
}

.wrapper .input-part :where(input, button) {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	font-size: 18px;
	border-radius: 7px;
}

#weather-wrap .wrapper .input-part input {
	text-align: center;
	border: 1px solid #bfbfbf;
}

.input-part input:is(:focus, :valid) {
	border: 2px solid #43AFFC;
}

.input-part .separator {
	height: 1px;
	width: 100%;
	margin: 25px 0;
	background: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}

.separator::before {
	content: "or";
	padding: 0 10px;
	background: #fff;
	font-size: 20px;
	color: rgb(141, 138, 138);
}

.wrapper .input-part button {
	color: #fff;
	cursor: pointer;
	background: rgb(45, 45, 48);
}

.wrapper .input-part .info-txt {
	display: none;
	font-size: 18px;
	text-align: center;
	padding: 12px 10px;
	border-radius: 7px;
	margin-bottom: 25px;
}

.wrapper .info-txt.error {
	display: block;
	color: red;
	background: #f8d7da;
	border: 1px solid #f5c6cb;
}

.wrapper .info-txt.pending {
	display: block;
	color: rgb(34, 36, 43);
	background: #b9e6de;
	border: 1px solid #b9e6de;
}

.wrapper .weather-part {
	margin: 30px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.weather-part img {
	width: 25%;
	left: 0px;
	right: 0px;
}

.weather-part .temp {
	display: flex;
	font-size: 72px;
	font-weight: 400;
}

.weather-part .temp .numb {
	font-weight: 400;
}

.weather-part .temp .deg {
	font-size: 40px;
	margin: 2px 2px 0 0;
	display: block;
}

.weather-part .location {
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-bottom: 30px;
}

.location .iconify {
	font-size: 19px;
	margin-right: 6px;
}

.weather-part .bottom-details {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #dfdcdc;
}

.bottom-details .column {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-details .iconify {
	color: dodgerblue;
	font-size: 40px;
	margin-bottom: 10px;
}

.humidity {
	display: flex;
	align-items: center;
	border-left: 1px solid #bfbfbf;
}

.details .temp {
	font-size: 20px;
	font-weight: 500;
}

.details .temp .deg {
	margin: 0;
	font-size: 15px;

}

.bottom-details {
	justify-content: center;
}

.details p {
	font-size: 15px;
	margin-top: -2px;
}

/* .column.humidity {
    border-left: 1px;
} */

.info {
	font-size: 10px;
	display: flex;
	justify-content: space-evenly;
}

img {
	opacity: 0.8;
	border-radius: 1%;
	margin: auto;
}

#text1 {
	margin: auto;
	font-size: 35px;
	border-bottom: solid 2px;
}

#zip {
	width: 15vw;
	margin: auto;
}

#button1 {
	width: 80px;
	margin: auto;
	font-size: 20px;
}

form {
	margin: auto;
	padding: 5px;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	width: 50vw;
}

/* Styling to make map section visible. */
#localgardenmap {
	height: 400px;
	width: 50%;
	margin: auto;
}

.results {
	display: flex;
	flex-direction: column;
	flex-basis: auto;
	text-align: center;
}

.glossary {
	list-style-type: circle;
	width: 80vw;
	margin: auto;
	padding: 10px;
}

li {
	padding: 10px;
	font-size: 20px;
}

.subGlossary {
	list-style-type: disc;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	gap: 25px;
	flex-direction: column;
	margin: auto;
	padding-top: 25px;
}

footer img {
	width: 45px;
	height: 45px;
	padding: 5px;
	display: flex;
}

@media only screen and (max-width: 850px) {
	.subGlossary {
		margin-right: 50px;
	}
}

@media only screen and (max-width: 500px) {
	.columnBreak {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}